<form action="/companies/{{companyId}}/snowboards/{{snowboard._id}}?_method=PUT">

    <label for="name">Name</label>
    <input type="text" name="name" value="{{snowboard.name}}">

    <label for="name">Price</label>
    <input type="number" name="price" value="{{snowboard.name}}">


    <input type="submit" value="Edit">




</form>

