<form action="/companies/{{companyId}}/snowboards" method ="POST">
    
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="name">Price</label>
    <input type="number" name="price">


    <input type="submit" value="Create">

</form>